@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;700;900&display=swap');

:root {
  --primary-color: #D6D5B3;
  --secondary-color: #D7816A;
  --hover-color: #7F7DA1;
  --bg-color: #353535;
  
  --color1: #D7816A;
  --color2: #BD4F6C;
  --color3: #028090; 
  --color4: #D6D5B3;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-nav {
  font-family: Roboto Slab, serif;
  color: var(--secondary-color);
  font-size: 25px;
}

.nav-item {
  padding-left: 15px;
}

.custom-nav:hover {
  color: var(--hover-color);
}

.custom-nav-bold {
  font-family: Roboto Slab, serif;
  color: var(--secondary-color);
  font-weight: 900
}

.no-hover:hover {
  color: var(--secondary-color);
  font-weight: 400;
}

.custom-input {
  width: 400px;
}

.custom-subheading {
  color: var(--primary-color);
  font-family: Roboto Slab, serif;
  font-weight: 400;
}

.custom-subheading-bold {
  font-weight: 900;
}

.custom-content {
  font-family: Roboto Slab, serif;
  font-weight: 300;
  color: var(--primary-color);
}

.hero-title-bold{
  color: var(--secondary-color);
  font-weight: 900;
}

.hero-title-box {
  font-family: Roboto Slab, serif;
  color: var(--primary-color);
  padding: 5px 35px 8px 135px;
  background-color: #7f7da127;
  font-size: 60px;
}

.hero-title-text {
  font-size: 90px;
  padding: 0px;
  margin: 0px;
}

.home-main {
  margin-top: 80px;
}

.footer {
  background-color: var(--bg-color);
  color: var(--primary-color);
}